<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
    <button class="dl-trigger">Open Menu</button>
    <ul class="dl-menu">
        <li><a href="{{ site.url }}/">خانه</a></li>
        <li><a href="https://kotlinfarsi.com/">سایت کاتلین فارسی</a></li>
        <li><a href="https://open.spotify.com/show/0hyAiizneVBANFFhTrFhsa">پادکست ها در اسپاتیفای</a></li>
        <li><a
                href="https://castbox.fm/channel/RadioKotlin---%D8%B1%D8%A7%D8%AF%DB%8C%D9%88-%DA%A9%D8%A7%D8%AA%D9%84%DB%8C%D9%86-id2757480">پادکست
                ها در کست باکس</a></li>
        <li><a
                href="https://podcasts.google.com/feed/aHR0cDovL3Jzcy5jYXN0Ym94LmZtL2V2ZXJlc3QvNzcwMmIyYmY5ZTk2NDFiMjlhZDIwNTFkN2Y5NDQ1NjIueG1s">پادکست
                ها در گوگل پادکست</a></li>
    </ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->